
/*General styles*/
body {
    font-family: Arial, Sans-serif;
    margin:0;
    padding:0;
    background-color: rgb(227, 195, 174);
}
/*This styles the image of each page*/
img{
    max-width: 50%;
    height:auto;
    display: block;
    margin:0 auto;

}
/*This styles the nav bar at the top of the page*/
.navbar {
    background-color: #333;
    padding: 15px;
    text-align: center;
}
.navbar a {
    color:white;
    text-decoration: none;
    display: inline-block;
    padding:10px 20px;
    
}
.navbar a:hover{
    background-color: aquamarine;
    border-radius: 5px;

}

/*This styles the browse page*/
.browse-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.Browse {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}
/*This styles the book images*/
.book{
    display:flex;
    align-items: center;
    margin-bottom: 15px;

}
.book img {
    width:80 px;
    height: 100px;
    object-fit: cover;
}
.book-info {
    max-width: 70%;
}

.Book-Title {
    font-size: 18px;
    font-weight: bold;
}

.Description {
    font-size: 14px;
    color: #555;
}

/* This styles the Forms */
form {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover,
button:hover {
    background-color: #575757;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    padding: 0 10px;
}


