html {
    height:100%;
}


/*General styles*/
body {
    font-family: Arial, Sans-serif;
    margin:0;
    padding:0;
    background-color: rgb(227, 195, 174);
    display:flex;
    flex-direction: column;
    height: 100%;
}

main{
    flex: 1;
}

/*This styles the nav bar at the top of the page*/
.navbar {
    background-color: #333;
    padding: 15px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar a {
    color:white;
    text-decoration: none;
    display: inline-block;
    padding:10px 20px;
    
}
.navbar a:hover{
    background-color: aquamarine;
    border-radius: 5px;

}

/*This styles the browse page*/
.browse-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.Browse {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}
/*This styles the book images*/

.Book-Title {
    font-size: 18px;
    font-weight: bold;
}

.Description {
    font-size: 14px;
    color: #555;
}

/* This styles the Forms */
form {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover,
button:hover {
    background-color: #575757;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 10px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    padding: 0 10px;
}

.review {
    border: 3px solid black;
    margin: 6px;
}


